
body {
  margin: 0 auto;
  background-color: black;
  color: rgb(255, 255, 255);
  font-size: 40px
}

.navbar {
  position: relative;
  height: 80px;
  background-color: black;
  border-bottom: 1px solid transparent;
  border-color: rgb(56, 56, 56);
}
.title {
  display: inline-flex;
  position: absolute;
  float: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Montserrat';
  color: white;
  font-size: 36px;
  font-weight: 700;
}

/*row for the initial visible cards*/
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*column for initial invisible cards*/
.column2 {
  float: left;
  flex: 0 1 auto;
  padding: 5px;
  visibility: hidden;
  font-size: 40px;
}

.button {
  height: 70px;
  width: 70px;
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(56, 56, 56);
  cursor: pointer;
  font-family: 'Montserrat';
}


